<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lilithgame.hgame.g">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_wolf"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_wolf_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WolfsMoonClash"
        tools:targetApi="31">
        <activity
            android:name=".screens.WolfMoonWebScreen"
            android:exported="false" />
        <activity
            android:name=".screens.WolfMoonGameScreen"
            android:exported="false" />
        <activity
            android:name=".screens.WolfMoonLoadingScreen"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/token" />

        <activity
            android:name=".screens.WolfMoonSplashScreen"
            android:exported="true"
            android:theme="@style/WolfSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>